#game-container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    height: 460px;
    width: 500px;
    margin: auto;
}

.cell {
    background-color: black;
    color: white;
    font-size: xxx-large;
    height: 150px;
    padding: 0;
}

#player-form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 130px;
    text-align: center;
    margin-top: 20px;
    border: solid;
    padding-top: 15px;
}

#player1Name {
    margin-bottom: 15px;
}

#submit-button {
    margin-top: 20px;
}